{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load post_tags %}
{% block content %}


<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="{% url 'index' %}">Home</a>
                            </li>
                            <li class="is-marked">
                                
                                <a href="{% url 'checkout' $}">Checkout</a>
                            </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->

            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="checkout-f">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1 class="checkout-f__h1">DELIVERY INFORMATION</h1>
                                    <form class="checkout-f__delivery" id="checkout_form" method='POST' action="{% url 'checkout' %}">
                                    {% csrf_token %}
                                    <div class="u-s-m-b-30">
                                        <div class="f-cart__pad-box">
                                            <h1 class="gl-h1">ESTIMATE SHIPPING AND TAXES</h1>
                                            <script>

                                            </script>
                                            <span class="gl-text u-s-m-b-30">Enter your destination to get a shipping
                                                estimate.</span>
                                            <div class="u-s-m-b-30">
                                                <!--====== Select Box ======-->

                                                <label class="gl-label" for="shipping-country">PROVINCE *</label><select
                                                    class="select-box select-box--primary-style" id="shipping-country">
                                                </select>
                                                <!--====== End - Select Box ======-->
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <!--====== Select Box ======-->

                                                <label class="gl-label" for="shipping-state">DISTRICT *</label><select
                                                    class="select-box select-box--primary-style" id="shipping-state">
                                                </select>
                                                <!--====== End - Select Box ======-->
                                            </div>


                                            <div class="u-s-m-b-30">
                                                <!--====== Select Box ======-->

                                                <label class="gl-label" for="shipping-ward">WARD *</label><select
                                                    class="select-box select-box--primary-style" id="shipping-ward">
                                                </select>

                                                <div class="u-s-m-b-15 ">

                                                    <label class="gl-label" for="billing-town-city">STREET ADDRESS
                                                        *</label>

                                                    <input class="input-text input-text--primary-style" type="text"
                                                        id="billing-town-city" data-bill="">
                                                </div>

                                                <div class="u-s-m-b-15 ">

                                                    <label class="gl-label" for="mobilephone">MOBILEPHONE *</label>

                                                    <input class="input-text input-text--primary-style" type="text"
                                                        id="mobilephone" data-bill="">
                                                </div>
                                                <!--====== End - Select Box ======-->
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <a class="f-cart__ship-link btn--e-transparent-brand-b-2"
                                                    id="calculate_fee">CALCULATE SHIPPING</a>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="o-summary__section u-s-m-b-30">

                                            </div>
                                        </div>
                                    </div>

                    </div>
                    <div class="col-lg-6">
                        <h1 class="checkout-f__h1">ORDER SUMMARY</h1>

                        <!--====== Order Summary ======-->
                        <div class="o-summary">
                            <div class="o-summary__section u-s-m-b-30">
                                <div class="o-summary__box">
                                    <h1 class="checkout-f__h1">SHIPPING & BILLING</h1>
                                    <div class="ship-b">

                                        <span class="ship-b__text">Ship to:</span>
                                        
                                        <div class="ship-b__box u-s-m-b-10">
                                            {% if default_billing_address %}
                                            <p class="ship-b__p">{{default_billing_address}}</p>
                                            {% else %}
                                            <p class="ship-b__p">{{request.user.address}}</p>
                                            {% endif %}


                                            <a class="ship-b__edit btn--e-transparent-platinum-b-2" data-modal="modal"
                                                data-modal-id="#edit-ship-address">Edit</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="o-summary__section u-s-m-b-30">
                                <div class="o-summary__box">
                                    <h1 class="checkout-f__h1">YOUR COUPON</h1>
                                    <div class="ship-b">
                                        {% if use_coupon %}
                                        <div class="mini-product mg-b-2 ">
                                            <div class="mini-product__image-wrapper">
                                                <a class="mini-product__link">
                                                    <img class="u-img-fluid" src="/media/{{use_coupon.image}}" alt="use_coupon_image"></a>
                                            </div>
                                            <div class="mini-product__info-wrapper">
                
                                                <span class="mini-product__category">
                
                                                    <a>Expiration date: {{use_coupon.expiration_date}}</a></span>
                
                                                <span class="mini-product__name">
                
                                                    <a>{{use_coupon.decription}}</a></span>
                
                                                <span class="mini-product__price">-
                                                    {%  get_icon_currency currency_name %} {% multiply use_coupon.discount_amount currency %}</span>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="ship-b__box u-s-m-b-10">
                                            <a class="ship-b__edit btn--e-transparent-platinum-b-2" data-modal="modal" 
                                            data-modal-id="#select-coupon">Enter or Select coupon</a>
                                            {% if use_coupon %}
                                            <input type="hidden" name="use_coupon_id" value="{{use_coupon.id}}">
                                            <a class="ship-b__edit btn--e-transparent-platinum-b-2" href="{% url 'remove_coupon' %}">Remove coupon</a>
                                            {% endif %}
                                        </div>
                                       

                                    
                                    </div>
                                </div>
                                
                            </div>
                            <div class="u-s-m-b-10">

                                <label class="gl-label" for="order-note">ORDER NOTE</label>
                                <textarea name="order-note" class="text-area text-area--primary-style"
                                    id="order-note"></textarea>
                            </div>
                            <div class="o-summary__section u-s-m-b-30">
                                <div class="o-summary__box">
                                    <table class="o-summary__table">
                                        <tbody>
                                            <tr>
                                                {% multiply shipping currency as shipping %}
                                                <td>SHIPPING</td>
                                                <td class="shipping_fee">{{ shipping }}
                                                    {% get_icon_currency currency_name %}</td>
                                            </tr>
                                            <tr>
                                                <td>SUBTOTAL</td>
                                                {% multiply total currency as price %}
                                                <td>{{ price }} {% get_icon_currency currency_name %}</td>
                                            </tr>
                                            <tr>
                                                <td>GRAND TOTAL</td>
                                                {% multiply sumtotal currency as sumtotal %}
                                                {% if use_coupon %}
                                                {% multiply use_coupon.discount_amount currency as discount %}
                                                {% minus sumtotal discount as sumtotal %}
                                                <td class="grandtotal"> {{ sumtotal  }} {% get_icon_currency currency_name %} <del>{{ sumtotal }} {% get_icon_currency currency_name %}</del>  </td>
                                                <input type="hidden" name="sumtotal" value="{{ sumtotal }}">
                                                {% else %}
                                                    <td class="grandtotal">{{ sumtotal }}
                                                        {% get_icon_currency currency_name %}</td>
                                                    <input type="hidden" name="sumtotal" value="{{ sumtotal }}">
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="o-summary__section u-s-m-b-30">
                                <div class="o-summary__box">
                                    <h1 class="checkout-f__h1">PAYMENT INFORMATION</h1>
                                    <div class="checkout-f__payment">
                                        <div>
                                            <button class="btn btn--e-transparent-brand-b-2 " id="submit_form_checkout"
                                                type="submit">PLACE ORDER</button>
                                        </div>

                                    </div>
                                    <div class="checkout-f__payment">

                                        <div style="margin-top:20px;" id="paypal-button-container"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                        <!--====== End - Order Summary ======-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 3 ======-->
</div>
<!--====== End - App Content ======-->

<!--====== Shipping Address Add Modal ======-->
<div class="modal fade" id="edit-ship-address">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="checkout-modal2">
                    <div class="u-s-m-b-30">
                        <div class="dash-l-r">
                            <h1 class="gl-modal-h1">Shipping Address</h1>

                        </div>
                    </div>
                    <form class="checkout-modal2__form" action=" {% url 'set_default_billing_address' %}" method="POST">
                        {% csrf_token %}
                        <div class="dash__table-2-wrap u-s-m-b-30 gl-scroll">
                            <table class="dash__table-2">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Province</th>
                                        <th>District</th>
                                        <th>Ward</th>
                                        <th>Street Address</th>
                                        <th>Phone Number</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in billing_address %}
                                    <tr>
                                        <td>

                                            <!--====== Radio Box ======-->
                                            <div class="radio-box">
                                                <input type="radio" id="address-1-{{item.id}}" name="default-address"
                                                    checked="" value="{{item.id}}">
                                                <div class="radio-box__state radio-box__state--primary">
                                                    <label class="radio-box__label" for="address-1-{{item.id}}"></label>
                                                </div>
                                            </div>
                                            <!--====== End - Radio Box ======-->
                                        </td>
                                        <td>{{item.province}}</td>
                                        <td>{{item.district}}</td>
                                        <td>{{item.ward}}</td>
                                        <td>{{item.street_address}}</td>
                                        <td>{{item.mobilephone}}</td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="gl-modal-btn-group">

                            <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>

                            <button class="btn btn--e-grey-b-2" type="button" data-dismiss="modal">CANCEL</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Shipping Address Add Modal ======-->

<!--====== Select coupon ======-->
<div class="modal fade" id="select-coupon">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-radius modal-shadow">

            <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
            <div class="modal-body">
                <div class="mini-coupon-container gl-scroll u-s-m-b-15">
                    <!--====== Card for mini cart ======-->
                    {% if coupons %}
                    {% for coupon in coupons %}
                    <div class="card-mini-product">
                        <div class="mini-product">
                            <div class="mini-product__image-wrapper">

                                <a class="mini-product__link">
                                    <img class="u-img-fluid" src="/media/{{coupon.image}}" alt="coupon_image"></a>
                                    
                            </div>
                            <div class="mini-product__info-wrapper">

                                <span class="mini-product__category">

                                    <a>Expiration date: {{coupon.expiration_date}}</a></span>

                                <span class="mini-product__name">

                                    <a>{{coupon.decription}}</a></span>

                                <span class="mini-product__price">-
                                    {%  get_icon_currency currency_name %}{% multiply coupon.discount_amount currency %}</span>
                            </div>
                        </div>

                        <a class="mini-product__delete-link fas fa-hand-pointer" href="{% url 'apply_coupon' coupon.id %}"></a>
                    </div>
                    
                    {% endfor %}
                    
                    {% else %}
                    <div class="mini-product-stat">
                        <div class="card-mini-product">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/cart/9bdd8040b334d31946f49e36beaf32db.png" alt="">
                           
                        </div>
                        <h1 class="gl-h1 empty_coupon" >You don't have coupon.....!</h1>

                        <div class="mini-action">
                            <a class="mini-link btn--e-brand-b-2" >NO COUPON</a>
                        </div>
                    </div>
                    {% endif %}
                    <!--====== End - Card for mini cart ======-->
                </div>
                

            </div>
        </div>
    </div>
</div>
<!--====== End - Select Coupon ======-->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>

</script>

<script>
    async function getProvinceData() {
        

        const headers = {
            'Content-Type': 'application/json',
            'Token': '9b9f26a2-8117-11ed-be76-3233f989b8f3'
        };
        const response = await fetch('https://online-gateway.ghn.vn/shiip/public-api/master-data/province', { headers });
        const data = await response.json();
        console.log(data);
        const select = document.getElementById('shipping-country');

        data.data.map(item => {
            const option = document.createElement('option');
            option.value = item.ProvinceID;
            option.text = item.ProvinceName;
            select.appendChild(option);
        });
    }
    
    getProvinceData();
</script>
{% comment %} get district {% endcomment %}
<script>
    const select = document.getElementById('shipping-country');

    select.addEventListener('change', async function () {
        const provinceId = parseInt(this.value);
        const headers = {
            'Content-Type': 'application/json',
            'Token': '9b9f26a2-8117-11ed-be76-3233f989b8f3'
        };
        const body = {
            province_id: provinceId
        };
        console.log(body)

        const response = await fetch('https://online-gateway.ghn.vn/shiip/public-api/master-data/district', {
            method: 'POST',
            headers,
            body: JSON.stringify(body)
        });
        const data = await response.json();
        console.log(data);

        const districtSelect = document.getElementById('shipping-state');
        districtSelect.innerHTML = '';

        data.data.map(item => {
            const option = document.createElement('option');
            option.value = item.DistrictID;
            option.text = item.DistrictName;
            districtSelect.add(option);
        });
    });

</script>

{% comment %} get ward {% endcomment %}
<script>
    const select_district = document.getElementById('shipping-state');

    select_district.addEventListener('change', async function () {

        const districtId = parseInt(this.value);
        const headers = {
            'Content-Type': 'application/json',
            'Token': '9b9f26a2-8117-11ed-be76-3233f989b8f3'
        };
        const body = {
            district_id: districtId
        };

        const response = await fetch('https://online-gateway.ghn.vn/shiip/public-api/master-data/ward?district_id', {
            method: 'POST',
            headers,
            body: JSON.stringify(body)
        });
        const data = await response.json();

        const wardSelect = document.getElementById('shipping-ward');
        wardSelect.innerHTML = '';

        data.data.map(item => {
            const option = document.createElement('option');
            option.value = item.WardCode;
            option.text = item.WardName;
            wardSelect.add(option);
        });
    });

</script>


<script>
    const calculateButton = document.getElementById('calculate_fee');

    calculateButton.addEventListener('click', async function () {
        // check if input empty, render Swal error

        const provinceId = parseInt(document.getElementById('shipping-country').value);
        const districtId = parseInt(document.getElementById('shipping-state').value);
        const wardCode = document.getElementById('shipping-ward').value;
        const street_address = $('#billing-town-city').val()
        const mobilephone = $('#mobilephone').val()

        if (!provinceId || !districtId || !wardCode || !street_address || !mobilephone) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please fill in all fields!',
            });
            return;
        }


        const headers = {
            'Content-Type': 'application/json',
            'Token': '9b9f26a2-8117-11ed-be76-3233f989b8f3',
        };
        const body = {
            "from_district_id": 1454,
            "service_id": 53320,
            "service_type_id": null,
            "to_district_id": 1452,
            "to_ward_code": wardCode,
            "height": 100,
            "length": 30,
            "weight": 200,
            "width": 30,
            "insurance_value": 10000,
            "coupon": null
        };

        const response = await fetch('https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee', {
            method: 'POST',
            headers,
            body: JSON.stringify(body)
        });
        const data = await response.json();

        shipping_fee = data.data.total;
        shipping_fee /= 20000
        shipping_fee = Math.round(shipping_fee);

        const province = document.getElementById('shipping-country').options[document.getElementById('shipping-country').selectedIndex].text;
        const district = document.getElementById('shipping-state').options[document.getElementById('shipping-state').selectedIndex].text;
        const ward = document.getElementById('shipping-ward').options[document.getElementById('shipping-ward').selectedIndex].text;

        Swal.fire({
            title: 'Do you want to save address ?',
            text: 'You address:  ' + street_address + ', ' + ward + ', ' + district + ', ' + province + ', '
                + ", " + "Your Phone: " + mobilephone + ', '
                + 'Shipping fee: ' + shipping_fee + ' USD',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Save',
            denyButtonText: `Don't save`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                $.ajax({
                    url: "{% url 'create_billing_address' %}",
                    type: 'POST',
                    data: {
                        'shipping_fee': shipping_fee,
                        'province': province,
                        'district': district,
                        'ward': ward,
                        'street_address': street_address,
                        'mobilephone': mobilephone,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function () {
                        Swal.fire('Saved!', '', 'success').then(function () {
                            window.location.href = "{% url 'checkout' %}";
                        });
                    }
                })
            } else if (result.isDenied) {
                Swal.fire('Address are not saved', '', 'info')
            }
        })
    });


</script>

<script>
    document.getElementById('submit_form_checkout').addEventListener('click', () => {
        event.preventDefault();
        if ( "{{total}}" == 0) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please add product to cart!',
            });
            return;
        }
        Swal.fire({
            icon: 'question',
            title: 'Are you sure ?',
            text: 'You will be redirected to PayPal',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Yes',
            denyButtonText: `No`,
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire('Saved!', '', 'success').then(function () {
                    document.getElementById('checkout_form').submit();
                   
                })
            } else if (result.isDenied) {
                Swal.fire(' Checkout cancel......!', '', 'info')
            }
        })
    })

</script>


<!-- Include the PayPal JavaScript SDK -->
<script
    src="https://www.paypal.com/sdk/js?client-id=AaDfzCm3qDJ2rfsHBo8F2EhEOlCiyR7crtOtjDxsuKX8pQm5dspyfTpJ_fwb6FmskWhV1V0yZNcBFe_U"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    const total = {{ total }}
    sumtotal = {{ sumtotal }}
    
    paypal.Buttons({
        createOrder: function (data, actions) {
            if (total == 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please add product to cart!',
                });
                return;
            }
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: sumtotal
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (orderData) {
                // Successful capture! For demo purposes:
                document.getElementById('checkout_form').submit();
            })
        }
    }).render('#paypal-button-container');



</script>

{% endblock %}