{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load post_tags %}
{% block content %}



        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{%  url 'index' %}">Home</a></li>
                                    <li class="is-marked">

                                        <a href="{% url 'dash-order' %}">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">Hello, {{request.user.name}}</span>
                                            <ul class="dash__f-list">
                                                <li>

                                                    <a href="{% url 'dashboard' %}">Manage My Account</a></li>
                                                <li>

                                                    <a href="{% url 'dash-edit-profile' %}">Edit Profile</a></li>
                                                <li>

                                                    <a class="dash-active" href="{% url 'dash-order' %}">My Orders</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                        <div class="dash__pad-1">
                                            <ul class="dash__w-list">
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                        <span class="dash__w-text">{{count_order_items}}</span>

                                                        <span class="dash__w-name">Orders Placed</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-3"><i class="far fa-heart"></i></span>

                                                        <span class="dash__w-text">{{wishlist}}</span>

                                                        <span class="dash__w-name">Wishlist</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

                                            <span class="dash__text u-s-m-b-30">Here you can see all products that have been delivered.</span>
                                            <div class="m-order__list">
                                            {% for item in order_items %}
                                                <div class="m-order__get">
                                                    <div class="manage-o__header u-s-m-b-30">
                                                        <div class="dash-l-r">
                                                            <div>
                                                                <div class="manage-o__text-2 u-c-secondary">Order #30542312{{item.id}}</div>
                                                                <div class="manage-o__text u-c-silver">Placed on {{item.order.created}}</div>
                                                            </div>
                                                            <div>
                                                                <div class="dash__link dash__link--brand">

                                                                    <a href="{% url 'dash-order-detail' item.id %}">MANAGE</a></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="manage-o__description">
                                                        <div class="description__container">
                                                            <div class="description__img-wrap">

                                                                <img class="u-img-fluid" src="/media/{{item.product.avatar}}" alt=""></div>
                                                            <div class="description-title">{{item.product.name}}</div>
                                                        </div>
                                                        <div class="description__info-wrap">

                                                            <div>
                                                            {% if item.state == 'PR' %}
                                                                <span class="manage-o__badge badge--processing">Processing</span>
                                                            {% elif item.state == 'SH' %}
                                                                <span class="manage-o__badge badge--shipped">Shipped</span>
                                                            {% elif item.state == 'EN' %}
                                                                <span class="manage-o__badge badge--enroute">Enroute</span>
                                                            {% elif item.state == 'AR' %}
                                                                <span class="manage-o__badge badge--arrived">Arrived</span>
                                                            {% endif %}

                                                            </div>
                                                            <div>

                                                            <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                <span class="manage-o__text-2 u-c-secondary">{{item.quantity}}</span></span></div>
                                                            
                                                                <span class="manage-o__text-2 u-c-silver" >Total:

                                                                    <span class="manage-o__text-2 u-c-secondary">{% get_icon_currency currency_name %}{% multiply item.price currency %}</span></span></div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->

{% endblock %}