{% load socialaccount%} 

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
     
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action=" {% url 'register' %} " method="POST" id="sign-up">
                {% csrf_token %}
                <h1>Create Account</h1>     
                <br>
                {{ form.name }}
                {{ form.email }}
                {{ form.phone}}
                {{ form.password }}
                {{ form.confirm_password }}
                {{ form.captcha }}
                <button class="signup-register" type="submit">Sign Up</button>
                {{ form.email.errors }}
                {{ form.non_field_errors }}
            </form>
        </div>

         
        <div class="form-container sign-in-container">
            <form action=" {% url 'login' %} " id="sign-in" method="post">
                {% csrf_token %}
                <h1>Sign in</h1>
                  
                <div class="social-container">  
                    <a href="{% provider_login_url 'github' method='oauth2' %}" class="social"><i class="fab fa-github"></i></a>
                    <a href=" {% provider_login_url 'google' method='oauth2' %} " class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span>or use your account</span>
                <br>
                {{ form.email }}
                {{ form.password }}
                <br>
                <a href=" {% url 'forgot_password' %} ">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>
                        To keep connected with us please login with your personal info
                    </p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <div class="back-to-home">
        <a href="/"><i class="fas fa-home" style="font-size:50px;color:white"></i></a>
    </div>

    <script>
        const signUpButton = document.getElementById('signUp')
        const signInButton = document.getElementById('signIn')
        const container = document.getElementById('container')

        signUpButton.addEventListener('click', () => {
            container.classList.add('right-panel-active')
        })

        signInButton.addEventListener('click', () => {
            container.classList.remove('right-panel-active')
        })
    </script>

    <!-- jquery validator -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#sign-in').validate({
                rules: {
                    "email": {
                        required: true,
                        email: true
                    },
                    "password": {
                        required: true,
                        minlength: 6
                    }
                },
                messages: {
                    "email": {
                        required: "Please enter your email",
                        email: "Please enter a valid email"
                    },
                    "password": {
                        required: "Please enter your password",
                        minlength: "Password must be at least 6 characters"
                    }
                }
            })
        })

        var value = $("#id_password").val();

        $.validator.addMethod("checklower", function(value) {
          return /[a-z]/.test(value);
        });
        $.validator.addMethod("checkupper", function(value) {
          return /[A-Z]/.test(value);
        });
        $.validator.addMethod("checkdigit", function(value) {
          return /[0-9]/.test(value);
        });
        $.validator.addMethod("pwcheck", function(value) {
          return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) && /[a-z]/.test(value) && /\d/.test(value) && /[A-Z]/.test(value);
        });
        
        $('#sign-up').validate({
          rules: {
            password: {
              minlength: 6,
              maxlength: 30,
              required: true,
              //pwcheck: true,
              checklower: true,
              checkupper: true,
              checkdigit: true
            },
            confirm_password: {
              equalTo: "#id_password",
            },
          },
          messages: {
            password: {
              pwcheck: "Password is not strong enough",
              checklower: "Need atleast 1 lowercase alphabet",
              checkupper: "Need atleast 1 uppercase alphabet",
              checkdigit: "Need atleast 1 digit"
            }
          },
          highlight: function(element) {
            $(element).removeClass('has-success').addClass('has-error');
    
          },
          unhighlight: function(element) {
            $(element).removeClass('has-error').addClass('has-success');
            $('#confirm_password').attr('disabled', false);
          },
          errorElement: 'span',
          errorClass: 'validate_cus',
          errorPlacement: function(error, element) {
            x = element.length;
            if (element.length) {
              error.insertAfter(element);
            } else {
              error.insertAfter(element);
            }
          }
        
        });
       
    </script>


    <!--  -->
</body>

</html>