{% extends 'base.html' %} {% load i18n %} {% load static %} {% load post_tags %}
{% block content %}

<!--====== App Content ======-->
<div class="app-content">
  <!--====== Section 1 ======-->
  <div class="u-s-p-y-60">
    <!--====== Section Content ======-->
    <div class="section__content">
      <div class="container">
        <div class="breadcrumb">
          <div class="breadcrumb__wrap">
            <ul class="breadcrumb__list">
              <li class="has-separator">
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li class="is-marked">
                <a href="{% url 'cart' %}">Cart</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== End - Section 1 ======-->

  <!--====== Section 2 ======-->
  <div class="u-s-p-b-60">
    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-60">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section__text-wrap">
              <h1 class="section__heading u-c-secondary">SHOPPING CART</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Intro ======-->

    <!--====== Section Content ======-->
    <div class="section__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
            <div class="table-responsive">
              <table class="table-p">
                <tbody>
                  <!--====== Row ======-->
                  {% for product in products %}
                  <tr>
                    <td>
                      <div class="table-p__box">
                        <div class="table-p__img-wrap">
                          <img
                            class="u-img-fluid"
                            src="/ecommerce/media/{{ product.avatar }}"
                            alt=""
                          />
                        </div>
                        <div class="table-p__info">
                          <span class="table-p__name">
                            <a href="{% url 'productdetail' product.id %}"
                              >{{product.name}}</a
                            ></span
                          >

                          <span class="table-p__category">
                            <a href="shop-side-version-2.html"
                              >{{product.category}}</a
                            ></span
                          >
                        </div>
                      </div>
                    </td>
                    <td>
                      {% multiply product.price currency as price %}
                      <span class="table-p__price"
                        >{% get_icon_currency currency_name %} {{price|floatformat:0}}</span
                      >
                    </td>
                    <td>
                      <div class="table-p__input-counter-wrap">
                        <!--====== Input Counter ======-->
                        <div class="input-counter">
                          <a onclick="changeCart_page({{product.id}})"
                            class="input-counter__minus fas fa-minus"
                          ></a>

                          <input
                            class="input-counter__text input-counter--text-primary-style"
                            type="text"
                            value="1"
                            data-min="1"
                            data-max="1000"
                          />

                          <a onclick="changeCart_page({{product.id}})" class="input-counter__plus fas fa-plus"></a>
                        </div>
                        <!--====== End - Input Counter ======-->
                      </div>
                    </td>
                    <td>
                      <div class="table-p__del-wrap">
                        <a
                          onclick="removeCart_page({{product.id}})"
                          class="far fa-trash-alt table-p__delete-link"
                        ></a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  <!--====== End - Row ======-->
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="route-box">
              <div class="route-box__g1">
                <a class="route-box__link" href="{% url 'index' %}"
                  ><i class="fas fa-long-arrow-alt-left"></i>

                  <span>CONTINUE SHOPPING</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Content ======-->
  </div>
  <!--====== End - Section 2 ======-->

  <!--====== Section 3 ======-->
  <div class="u-s-p-b-60">
    <!--====== Section Content ======-->
    <div class="section__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
            <form class="f-cart">
              <div class="row">
                <div class="col-lg-4 col-md-6 u-s-m-b-30">
                  <div class="f-cart__pad-box">
                    <div class="u-s-m-b-30">
                      <table class="f-cart__table">
                        <tbody>
                          <tr>
                            <td>SHIPPING</td>
                            {% multiply shipping currency as shipping %}
                            <td class="shipping">
                              {% get_icon_currency currency_name %} 
                              {% multiply shipping currency %}
                            </td>
                          </tr>
                          <tr>
                            <td>SUBTOTAL</td>
                            {% multiply total currency as total %}
                            <td class="subtotal">
                              {% get_icon_currency currency_name %} 
                              {% multiply total currency %}
                            </td>
                          </tr>
                          <tr>
                            <td>GRAND TOTAL</td>
                            <td class="grandtotal">
                              {% get_icon_currency currency_name %}
                              {% multiply total|add:shipping currency %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div>
                      <button class="btn btn--e-brand-b-2">
                        <a href="{% url 'checkout' %}">PROCEED TO CHECKOUT</a>  
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Content ======-->
  </div>
  <!--====== End - Section 3 ======-->
</div>
<!--====== End - App Content ======-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  function removeCart_page(id) {
    const object = event.target;
    
    $.ajax({
      url: "{% url 'cart-list' %}",
      type: "POST",
      data: {
        id: id,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: function (response) {
        let grandtotal = parseInt(response.total) + parseInt({{shipping}})

        $('.subtotal').html("{% get_icon_currency currency_name %}" + " " + response.total)
        $('.grandtotal').html("{% get_icon_currency currency_name %}" + " " + grandtotal)

        object.closest("tr").remove();
        
      },
    });
  }

  function changeCart_page(id) {

    const object = event.target
    action = object.className.split(" ")[2]
        $.ajax({
          url:  "{% url 'btn' %}",
          type: 'POST',
            data: {
                'id': id,
                'btn': action,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
          success: function(total){
            total = parseInt(total)
            shipping = parseInt({{shipping}})
            let grandtotal = total + shipping
            $('.subtotal').html("{% get_icon_currency currency_name %}" + " " + total)
            $('.grandtotal').html("{% get_icon_currency currency_name %}" + " " + grandtotal)
            
          }
     })
  }

</script>



{% endblock %}
