{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load post_tags %}
{% load crispy_forms_tags %}

{% block content %}

<body>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'index' %}">{% trans "Home" %}</a>
                    <span class="breadcrumb-item active">{% trans "Checkout" %}</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
<form method="POST" action="">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">{% trans "Billing Address" %}</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>{% trans "First Name" %}</label>
                            <input class="form-control" type="text" placeholder="John">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>{% trans "Last Name" %}</label>
                            <input class="form-control" type="text" placeholder="Doe">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>{% trans "Mobile No" %}</label>
                            {{ form.mobilephone }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>{% trans "Address Line 1" %}</label>
                            {{ form.street_address }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>{% trans "Address Line 2" %}</label>
                            {{ form.apartment_address }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>{% trans "Country" %}</label>
                            {{ form.country }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label>{% trans "ZIP Code" %}</label>
                            {{form.zip}}
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input {% if form.save_info.value %} checked {% endif %} type="checkbox" class="custom-control-input" id="newaccount">
                                <label  class="custom-control-label" for="newaccount">{% trans "Save information in next time" %}</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input {% if form.same_billing_address.value %} checked {% endif %} type="checkbox" class="custom-control-input" id="shipto" name="same_billing_address" >

                                <label class="custom-control-label" for="shipto"  >{% trans "Shipping address is the same as my billing address" %}  </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">{% trans "Order Total" %}</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>{% trans "Subtotal" %}</h6>
                            {% multiply total currency as price %}
                            <h6> {{ price }} {% get_icon_currency currency_name %}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">{% trans "Shipping" %}</h6>
                            {% multiply shipping currency as shipping %}
                            <h6 class="font-weight-medium">{{ shipping }} {% get_icon_currency currency_name %}</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>{% trans "Total" %}</h5>
                            {% multiply sumtotal currency as sumtotal %}
                            <h5> {{ sumtotal }} {% get_icon_currency currency_name %}</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">{% trans "Payment" %}</span></h5>
                    <div class="bg-light p-30">
                        {% for value,name in form.fields.payment_option.choices %}
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" value="{{value}}" name="payment_option" id="{{name}}">
                                <label class="custom-control-label" for="{{name}}">{{name}}</label>
                            </div>
                        </div>
                        {% endfor %}
                        <button type="submit" href="{% url 'checkout' %}" class="btn btn-block btn-primary font-weight-bold py-3">{% trans "Place Order" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
</form>
</body>

{% endblock %}