{% extends 'base.html' %} {% load static %} {% block content %}
{% load i18n %}
{% load post_tags %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
        <span class="breadcrumb-item active">Shop</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-4">
      <form action="">
        <!-- Price Start -->
        <h5 class="section-title position-relative text-uppercase mb-3">
          <span class="bg-secondary pr-3">Filter by price</span>
        </h5>
        <div class="bg-light p-4 mb-30">
          <form>
            <div
              class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
            >
              <input
                type="checkbox"
                class="custom-control-input"
                checked
                id="price-all"
              />
              <label class="custom-control-label" for="price-all">
                All Price
              </label>
              <span class="badge border font-weight-normal">1000</span>
            </div>
            <div
              class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
            >
              <input
                type="checkbox"
                class="custom-control-input"
                id="price-1"
              />
              <label class="custom-control-label" for="price-1">
                $0 - $100
              </label>
              <span class="badge border font-weight-normal">150</span>
            </div>
            <div
              class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
            >
              <input
                type="checkbox"
                class="custom-control-input"
                id="price-2"
              />
              <label class="custom-control-label" for="price-2">
                $100 - $200
              </label>
              <span class="badge border font-weight-normal">295</span>
            </div>
            <div
              class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
            >
              <input
                type="checkbox" 
                class="custom-control-input"
                id="price-3"
              />
              <label class="custom-control-label" for="price-3">
                $200 - $300
              </label>
              <span class="badge border font-weight-normal">246</span>
            </div>
            <div
              class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
            >
              <input
                type="checkbox"
                class="custom-control-input"
                id="price-4"
              />
              <label class="custom-control-label" for="price-4">
                $300 - $400
              </label>
              <span class="badge border font-weight-normal">145</span>
            </div>
            <div
              class="custom-control custom-checkbox d-flex align-items-center justify-content-between"
            >
              <input
                type="checkbox"
                class="custom-control-input"
                id="price-5"
              />
              <label class="custom-control-label" for="price-5">
                $400 - $500
              </label>
              <span class="badge border font-weight-normal">168</span>
            </div>
          </form>
        </div>
        <!-- Price End -->

        <!-- Size End -->
      </form>
    </div>
    <!-- Shop Sidebar End -->

    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3 products-item">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div>
              <button class="btn btn-sm btn-light">
                <i class="fa fa-th-large"></i>
              </button>
              <button class="btn btn-sm btn-light ml-2">
                <i class="fa fa-bars"></i>
              </button>
            </div>

            <div class="ml-2">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control form-control-search"
                  placeholder="Search for products"
                  name="query"
                />
                <div class="input-group-append">
                  <button
                    onclick="search_ajax()"
                    class="input-group-text bg-transparent text-primary"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>

              <!-- </form> -->
            </div>

            <div class="ml-2">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-sm btn-light "
                >
                <a href="{% url 'sort_categories' product.id 'views' 'esc' %}" class="dropdown-item" href="#">{% trans "Popularity" %}</a>
                </button>
              </div>
              <div class="btn-group ml-2">
                <button 
                  type="button"
                  class="btn btn-sm btn-light dropdown-toggle"
                  data-toggle="dropdown"
                >
                {% trans "Price" %}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{% url 'sort_categories' product.id 'price' 'asc' %}">{% trans "Up" %}</a>
                  <a class="dropdown-item" href="{% url 'sort_categories' product.id 'price' 'desc' %}">{% trans "Down" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        {% for product in products %}
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1 products-container ">
          <div class="product-item bg-light mb-4">
            <div class="product-img position-relative overflow-hidden">
              <img
                class="img-fluid w-100"
                src="/ecommerce/media/{{product.avatar}}"
                alt="product"
              />
              <div class="product-action">
                <a 
                  onclick="addcart({{product.id}})"
                  class="btn btn-outline-dark btn-square liveToastBtn"
                >
                  <i class="fa fa-shopping-cart"></i>
                </a>
                <a onclick="addWishList({{product.id}})" class="btn btn-outline-dark btn-square" >
                  <i class="far fa-heart "></i>
                </a>
                <!-- Toast Message -->
                <!--  -->
                <a
                  class="btn btn-outline-dark btn-square"
                  href=" {% url 'productdetail' product.id %} "
                >
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
            <div class="text-center py-4">
              <a class="h6 text-decoration-none text-truncate" href="">
                {{ product.title }}
                
              </a>
              <div
                class="d-flex align-items-center justify-content-center mt-2"
              >
                <h5>{{ product.price|price_currency:currency }} </h5>
              </div>
              <div
                class="d-flex align-items-center justify-content-center mb-1"
              >
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
                <small class="fa fa-star text-primary mr-1"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
          <div class="toast liveToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="..." class="rounded me-2" alt="...">
              <strong class="me-auto">Bootstrap</strong>
              <small>11 mins ago</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              Hello, world! This is a toast message.
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% if products.has_other_pages %}
      <div style="margin-left: 45%;"> 
      <ul class="pagination">
          {% if products.has_previous %}
            <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in products.paginator.page_range %}
            {% if products.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if products.has_next %}
            <li><a class="page-item" href="?page={{ products.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      </div>
{% endif %}

        <div>
          <table id="request-table">
         </table>
      </div>

        <div class="col-12">
          <nav aria-label="page navigation">
            <ul class="pagination justify-content-center">
              {% if is_paginated %}
        <nav aria-label="page navigation" >
            <ul class="pagination  justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-item previous-pagination"><a class="page-link" href="{% url 'shop' %}?page={{page_obj.previous_page_number}}">{% trans Previous %}</a></li>
              {% endif %}
              <li class="page-item one-pagination"><a class="page-link" href=" {% url 'shop' %}?page=1" >  {% trans Page %} {{ page_obj.number }} {% trans of %} {{ page_obj.paginator.num_pages }}. </a></li>
              
              {% if page_obj.has_next %}
              <li class="page-item next-pagination"><a class="page-link" href="{% url 'shop' %}?page={{page_obj.next_page_number}} " >{% trans Next %}</a></li>
              {% endif %}
              
            </ul>
          </nav>
        {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>

<!-- Shop End -->
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
  type="text/javascript"
></script>
<script>
  function AppendProducts(data) {
    $(".products-container").remove();
    let htmls = ''
        products = data.products
        for (let i = 0; i < products.length; i++) {
          id = products[i].id
          htmls += `<div class="col-lg-4 col-md-6 col-sm-6 pb-1 products-container ">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="/ecommerce/media/${products[i].avatar}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="./productdetail/${id}"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="./productdetail/${id}"><i class="fa fa-search"></i></a>
                                </div> 
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">${products[i].title}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5> ${products[i].price} $</h5><h6 class="text-muted ml-2"><del>${products[i].price} $</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>`

                  }
                  
                  $('.products-item').append(htmls)
}


  function addcart(id) {
    $.ajax({
      url: "{% url 'cart' %}",
      type: 'POST',
      data: {
        id: id,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      success: function (count) {
        $('.shopping-cart').text(count)
      },
    })
  }

  function addWishList(id) {
    $.ajax({
      url: "{% url 'wishlist' %}",
      type: 'POST',
      data: {
        id: id,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      success: function (count) {
        $('.wishlist').text(count)
      },
    })
}

  function search_ajax() {
    const query = $('.form-control-search').val()
    console.log(query)
    $.ajax({
      url: "{% url 'search_product' %}",
      type: 'GET',
      data: {
        query: query,
      },
      success: function (data) {
        AppendProducts(data)
      },
    })
  }

</script>

<script>

    $('.custom-control-input').click( () => {
        const price = (event.target.id).split('-')[1]
        $.ajax({
            url: "{% url 'filter' %}",
            type: 'GET',
            data: {
                'price': price,
            },
            success: function(data) {
                AppendProducts(data)
            }
        })
    } )


</script>




{% endblock %}
